:root{
	/*****           PINK           *****/
	--textColor_pinkBody: rgb(255,130,0);
	--hoverColor_pinkBody: rgb(25, 25, 25);
	--background-color_pinkBody: rgb(255, 178, 204);
	--board-color_pinkBody:rgb(204, 102, 132);
	--playerOn-color_pinkBody:rgb(51, 2, 2);


	/*****           BLUE           *****/
	--textColor_blueBody: rgb(255,130,0);
	--hoverColor_blueBody: rgb(219, 219, 219);
	--background-color_blueBody: rgb(153, 172, 255);
	--board-color_blueBody: rgb(76, 140, 204);
	--playerOn-color_blueBody:rgb(0, 0, 51);


	/*****          GREEN           *****/
	--textColor_greenBody: rgb(255,130,0);
	--hoverColor_greenBody: rgb(219, 219, 219);
	--background-color_greenBody: rgb(127, 204, 140);
	--board-color_greenBody: rgb(84, 160, 97);
	--playerOn-color_greenBody:rgb(0, 51, 2);
}

/**************************************/
/**************************************/
/*****       Jeneral Styles       *****/
/**************************************/
/**************************************/
body{
	font-family: 'Righteous', cursive;
}
#contact{
	color:black;
}
/**************************************/
/*****           NAVBAR           *****/
/**************************************/

.navbar{
	font-size: 1.1rem;
	font-weight: 600;
}
.navbar .navbar-item:hover{
	cursor: pointer;
}

.navbar-toggler{
	border-width: 0px;
}

/**************************************/
/*****         JUMBOTRON          *****/
/**************************************/
.jumbotron{
	background: rgb(219, 219, 219);
}
/**************************************/
/*****           BOARD            *****/
/**************************************/

@media (max-width: 768px){
	.tile{
		font-size: 1.25rem;
		height	: 140px;
	}
	.player{
		font-size: 1.5em;
	}
}

@media (min-width: 768px){
	.tile{
		font-size: 1.5rem;
		height	: 200px;
	}
	.player{
		font-size: 2em;
	}
}

@media (min-width: 992px){
	.tile{
		font-size: 1rem;
		height		: 100px;
		position: relative;
	}


	.player{
		font-size: 2em;
	}
}


@media (max-width: 3000px){
	h1{
		font-weight: 400;
	}

	.tile:hover{
		cursor: pointer;
	}


	.player:hover{
		cursor: pointer;
	}

	.tile_vertical{
		border-left	: 2px solid black;
		border-right	: 2px solid black;
	}
	.tile_horizontal{
		border-top	: 2px solid black;
		border-bottom	: 2px solid black;
		}

	#TTTTTitle {
		text-align 	: center;
		}
}

input{
	background: rgb(219, 219, 219);
}

/************************************************************/
/************************************************************/
/***************         PINK BODY          *****************/
/************************************************************/
/************************************************************/
.pinkBody{
	background	: var(--background-color_pinkBody);
}
/**************************************/
/*****           NAVBAR           *****/
/**************************************/

.pinkBody .navbar-item{
	color: var(--textColor_pinkBody);
}

.pinkBody .navbar .navbar-item:hover{
	color: var(--hoverColor_pinkBody);
}

.pinkBody .navbar-toggler{
	border-color: var(--textColor_pinkBody);
}
.pinkBody .fas.fa-palette{
	color:  var(--textColor_pinkBody);
}

/**************************************/
/*****           BOARD            *****/
/**************************************/

.pinkBody #TTTTTitle {	
	color 		: var(--textColor_pinkBody);
	}

.pinkBody #TTTTBoard{
	background	: var(--board-color_pinkBody);
}

/**************************************/
/*****            GAME            *****/
/**************************************/

.pinkBody .winner{
	font-family: 'Coiny', cursive;
	font-weight: 700;
	color: var(--textColor_pinkBody)
}

.pinkBody .playerOn{
	font-weight: 800;
	color: var(--playerOn-color_pinkBody)
}

.pinkBody .fas.fa-times {
	color: var(--playerOn-color_pinkBody)
}

.pinkBody .far.fa-circle {
	color: var(--playerOn-color_pinkBody)
}
/************************************************************/
/************************************************************/
/***************         BLUE BODY          *****************/
/************************************************************/
/************************************************************/

.blueBody{
	background	: var(--background-color_blueBody);
}
/**************************************/
/*****           NAVBAR           *****/
/**************************************/

.blueBody .navbar-item{
	color: var(--textColor_blueBody);
}

.blueBody .navbar .navbar-item:hover{
	color: var(--hoverColor_blueBody);
}

.blueBody .navbar-toggler{
	border-color: var(--textColor_blueBody);
}
.blueBody .fas.fa-palette{
	color:  var(--textColor_blueBody);
}

/**************************************/
/*****           BOARD            *****/
/**************************************/

.blueBody #TTTTTitle {	
	color 		: var(--textColor_blueBody);
	}

.blueBody #TTTTBoard{
	background	: var(--board-color_blueBody);
}

/**************************************/
/*****            GAME            *****/
/**************************************/

.blueBody .winner{
	font-family: 'Coiny', cursive;
	font-weight: 700;
	color: var(--textColor_blueBody)
}

.blueBody .playerOn{
	font-weight: 800;
	color: var(--playerOn-color_blueBody)
}

.blueBody .fas.fa-times {
	color: var(--playerOn-color_blueBody)
}

.blueBody .far.fa-circle {
	color: var(--playerOn-color_blueBody)
}
/************************************************************/
/************************************************************/
/***************         GREEN BODY         *****************/
/************************************************************/
/************************************************************/

.greenBody{
	background	: var(--background-color_greenBody);
}
/**************************************/
/*****           NAVBAR           *****/
/**************************************/

.greenBody .navbar-item{
	color: var(--textColor_greenBody);
}

.greenBody .navbar .navbar-item:hover{
	color: var(--hoverColor_greenBody);
}

.greenBody .navbar-toggler{
	border-color: var(--textColor_greenBody);
}
.greenBody .fas.fa-palette{
	color:  var(--textColor_greenBody);
}

/**************************************/
/*****           BOARD            *****/
/**************************************/

.greenBody #TTTTTitle {	
	color 		: var(--textColor_greenBody);
	}

.greenBody #TTTTBoard{
	background	: var(--board-color_greenBody);
}

/**************************************/
/*****            GAME            *****/
/**************************************/

.greenBody .winner{
	font-family: 'Coiny', cursive;
	font-weight: 700;
	color: var(--textColor_greenBody)
}

.greenBody .playerOn{
	font-weight: 800;
	color: var(--playerOn-color_greenBody)
}

.greenBody .fas.fa-times {
	color: var(--playerOn-color_greenBody)
}

.greenBody .far.fa-circle {
	color: var(--playerOn-color_greenBody)
}



/*
<i class="fas fa-times"></i>'
<i class="far fa-circle"></i>
*/